<%# navigation styled for Bootstrap 4.0 %>
<div class="container-fluid" style="margin-top: 15px; margin-bottom: 15px;">
  <a class="" href="http://vkm.marianit.de/">
    <img alt="Logo" src="logo_h.png" class="img-responsive center-block">
  </a>
</div>